body, html {
  margin: 0;
  padding:0;
  overflow: hidden;
}

.mainSite {
  display: grid;
  grid-template-columns: 2fr 1fr;
}

.header {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  height: 100vh;
}

.header p {
  font-family: 'Playfair Display', serif;
  font-size: 13vmax;
}

.sideNav {
  display: flex;
  flex-direction: column;
  justify-content: center;
  font-family: 'Courier Prime', monospace;
  font-size: 1.5em;
  height: 100vh;
}

.sideNav p {
  line-height: 7vh;
}

.sideNav a {
  color: black;
  padding: 9px 9px 5px 9px;
  background: linear-gradient(to bottom, var(--thisColor) 0%, var(--thisColor) 100%);
  background-position: 0 100%;
  background-repeat: repeat-x;
  background-size: 4px 0;
  color: #000;
  text-decoration: none;
  transition: background-size .4s;
}

.sideNav a:hover {
  background-size: 4px 50px;
  color: #fff;
}

#purple {
  --thisColor: #602870;
}
#gold {
  --thisColor: #BDA729;
}
#gray {
  --thisColor: #697067;
}
#green {
  --thisColor: #0A4F32;
}
#turquoise {
  --thisColor: #009C8F;
}

/* COLOR PAGES */
.infoSite {
  display: grid;
  grid-template-columns: 4fr 3fr;
  grid-template-rows: 9fr 1fr;
  height: 100vh;
}

.item-2x {
  grid-column-end: span 2;
}

.columnA {
  background-color: #fff;
  display: flex;
  flex-direction: column;
  justify-content: flex-start;
  align-items: flex-end;
}
.columnA p {
  font-family: 'Playfair Display', serif;
  font-size: 16vmax;
  margin: 35vh 3vw 0 0;
  color: #000;
}

.columnB {
  overflow-y: scroll;
  display: flex;
  flex-direction: column;
  justify-content: top;
  align-items: flex-start;
}
.columnB p{
  font-family: 'Courier Prime', monospace;
  font-size: 1.5em;
  padding: 5vw 6vw 3vw 3vw;
  color: #602870; /* default purple*/
}

.bottomNav {
  display: flex;
  align-items: center;
  justify-content: space-around;
  height: 15vh;
}

#goldText {
  color: #87771E;
}
#goldTextSize {
  font-size: 8vw;
}
#grayText {
  color: #585E57;
}
#greenText {
  color: #0A4F32;
}
#turquoiseText {
  color: #009C8F;
}
#turquoiseTextSize {
  font-size: 11.5vw;
  margin-top: 40vh;
}

/* COLOR2 PAGES */
.topContainer {
  display: grid;
  grid-template-columns: 3fr 5fr;
  grid-template-rows: 9fr 1fr;
  height: 100vh;
}

.topContainer > img {
  width: 100%;
  height: 100%;
  object-fit: cover;
}

.topContainer .columnB p:first-child {
  font-family: 'Playfair Display', serif;
  font-size: 10vw;
  color: black;
  margin: 5vh 0 -15vh 0;
}

.topContainer p {
  width: 40vw;
}

/* MEDIA QUERIES */
@media screen and (max-width: 600px) {

html, body {
  overflow: auto;
}

.item-2x {
  grid-column-end: span 1;
}

/* title page */
.mainSite {
  grid-template-columns: 1fr;
}
.sideNav {
  padding-left: 10vw;
}

/* color pages */
.infoSite {
  display: grid;
  grid-template-columns: 1fr;
}
.columnA {
  justify-content: center;
  align-items: center;
}
.columnA p {
  margin: 0;
}
.columnB {
  overflow-y: visible;
}
#turquoiseTextSize {
  font-size: 20vw;
  margin-top: 0;
}

/* color2 pages */
.topContainer {
  grid-template-columns: 1fr;
}
.topContainer > img {
  width: 100%;
  height: 100%;
  object-fit: cover;
}
.topContainer {
  display: grid;
  grid-template-columns: 1fr;
}
.topContainer .columnB p:first-child {
  margin: 0 0 -5vh;
}
.columnB p {
  padding: 3vw;
  width: 90vw;
}
